.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 2fr 1fr 71vh 1fr;
  grid-template-areas: "heading" "nav" "router" "footer";
  text-align: center;
  font-family: "Miriam Libre", sans-serif;
}

.heading {
  grid-area: heading;
  border: 1px black solid;
}
.nav {
  grid-area: nav;
  border: green 1px solid;
}
/* .router {
  grid-area: router;
  height: 71vh;
  width: 100vw;
  overflow-y: scroll;
} */
.main {
  height: 100%;
  border: red solid 1px;
  /* display: grid; */
  /* grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr; */
  overflow-y: scroll;
  width: 100%;
}
.footer {
  grid-area: footer;
  border: blue solid 1px;
}

@media only screen and (min-width: 600px) {
  .router {
    grid-area: router;
    height: 71vh;
    width: 100vw;
    overflow-y: scroll;
  }

  .main {
    height: 100%;
    border: red solid 1px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    overflow-y: scroll;
    width: 100%;
  }
}
