.sortBy {
  
  background: #bfc0c0;
  /* #818d92; */
  color: black;
  padding: 5px;
}

.articles {
  grid-column: 1 / 2;
  grid-row: 1 /2;
}

.articles a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 600px) {
  .sortBy {
    grid-column: 2 / 3;
    grid-row: 1 /2;
    
    background: #bfc0c0;
    margin: 0;
    padding: 8px;
    color: black;
  }
}
