.commentCard {
  border: 1px solid fuchsia;
  padding: 5px 10px;
  margin: 20px;
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 4fr 1fr;

  grid-template-areas: "comment votes";
}

.commentVotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment p {
  margin: 10px 5px;
}
.comment button {
  border: 1px black solid;
  margin: 5px;
  padding: 5px;
}
