.commentCard {
  border: 1px solid #033b66;
  padding: 5px 10px;
  margin: 20px;
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 4fr 1fr;
font-family: 'Karla', sans-serif;
  grid-template-areas: "comment votes";
}

.commentVotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment p {
  margin: 10px 5px;
}
.comment button:hover{
   box-shadow: 0px 0px 10px 2px #6d8ad6;
  transform: scale(1.02);
  transition: all 200ms ease-out;
}

.commentBody {
  font-size: 1.2em;
  
}

.author {
  font-weight: bold;
}

