.nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #033b66;

  /* #309693; */
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
}
