.votes {
  grid-area: votes;
  width: 70px;
  height: 50px;
  margin: 5px;
  font-size: 1em;
  padding: 5px 2px;
}

.voteContainer {
  display: flex;
  flex-direction: column;
align-items: center;
}

.votes button {
  border: black solid 1px;
  margin: 3px 1px 0px 1px;
  background: whitesmoke;
}

.votes button:hover{
   box-shadow: 0px 0px 10px 2px #6d8ad6;
  transform: scale(1.02);
  transition: all 200ms ease-out;
}

@media only screen and (min-width: 600px) {
  .votes {
    grid-area: votes;
   
  
  }
}
